<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/home/ilya/BSUiR/sem4/Java/is-the-site-up/src/main/java/com/lab1/isthesiteup/exceptions/logs</file>
        <encoder>
            <pattern>%d %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root>
        <appender-ref ref="FILE"/>
    </root>
</configuration>