<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Check URL</title>
</head>
<body>
    <h1>Check URL Status</h1>
  
    <form action="#" th:action="@{/check/{userId}(userId=${userId})}" method="post">
      <input type="text" name="url" placeholder="Enter URL" required>
      <button type="submit">Check</button>
    </form>

    <form action="#" th:action="@{/{userId}/today(userId=${userId})}" method="get">
      <button type="submit">History</button>
    </form>

    <form action="/logout" method="post" style="display: inline;">
      <input type="submit" value="Logout">
    </form>
    
    <div class="message-container">
      <p th:text="${message}"></p>
      <td th:text="${#temporals.format(time, 'HH:mm')}"></td>
    </div>

    <div class="url-display-container" th:if="${url}">
      <p>Checked URL: <span th:text="${url}"></span></p>
    </div>

</body>
</html>
