<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server Status Checker</title>
</head>
<body>
    <h1>CRUD page For Server Entity</h1>

    <h2>Add New Server</h2>
    
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>

    <form action="#" th:action="@{/server}" method="post">
        <input type="text" name="url" placeholder="Enter server URL" required>
        <button type="submit">Add Server</button>
    </form>

    <h2>Servers</h2>
    <ul>
        <li th:each="server : ${servers}">
            <span th:text="${server.url}"></span>
            <form action="#" th:action="@{/server/{id}(id=${server.id})}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">Delete</button>
            </form>
            <form action="#" th:action="@{/server/{id}(id=${server.id})}" method="post">
                <input type="hidden" name="_method" value="put" />
                <input type="text" name="url" placeholder="Enter new server URL" required />
                <button type="submit">Update</button>
            </form>
        </li>

        <a href="/checks">Go To CRUD Page For Check Entity</a>


</body>
</html>
