<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server Status Checker</title>
</head>
<body>
    <h1>Update page For Check Entity</h1>
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>URL</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="check : ${checks}">
                <td th:text="${check.id}"></td>
                <td th:text="${check.url}"></td>
                <td th:text="${check.status}"></td>
                <td>
                   
                    <form action="#" th:action="@{/check/update/{id}(id=${check.id})}" method="post">
                        <input type="hidden" name="_method" value="put" />
                        <input type="text" name="url" placeholder="Enter new server URL" required />
                        <button type="submit">Update</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>


    <p><a href="/checks">Back To Checks Page</a></p>

    
</body>
</html>
